/* Main Page */
#home{
	position: relative;
}
#home_description{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -30%);
	text-align: center;
}
#home_description{
	width: 100%;
}
.description{
	font-size: 20px;
	padding-top: 20px;
}
#home-name{
	font-size: 500%;
	color: #fafafa;
	font-family: arial;
	opacity: 0.8;
}

#about{
	background-color: #62727b;
	color: #fafafa;
}
#about-paragraph{
	font-size: 19px;
	margin-top: 9px;
}

#skills{
	background-color: #CFD8DC;
}
.skills-sliders{
	width: 95%;
	margin: 0 auto;
}
#skills-headers{
	margin-bottom: 25px;
}
#whole-slider-container{
	margin-top: 25px;
}
#languages-slider{
	display: inline-block;
}
#tools-slider{
	display: none;
}
#boards-slider{
	display: none;
}
.skills-link:hover, .skills-link:focus{
	color: black;
	text-decoration: none;
	opacity: 1;
}
.skills-link{
	color: black;
	font-size: 17px;
}
#programming-link{
	border-style: none none solid none;
	border-width: 5px;
	border-color: #337ab7;
}
.skills-slider-imgs{
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
#skill-title{
	margin-bottom: 0px;
}

#main-p-picture{
	height: 400px;
	background-color: black;
	opacity: 0.3;
}
#main-p-img{
	position: fixed;
	z-index: -1;
	bottom: 0;
}

#experiences{
	background-color: #5a6a72;
}
#experiences-title{
	color: white;
	margin-bottom: 30px;
}
#experiences-description{
	color: white;
}
.experiences-date{
	margin-top: 0px;
}
.experiences-block{
	margin-bottom: 40px;
}
.experience-headers{
	margin-top: 10px;
}

#hobbies{
	background-color: #bfbfbf;
	color: #fafafa;
}
.hobbies-icon{
	text-align: center;
	position: relative;
}
.hobby-icon{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}
.hobbies-link, #hobbies-title{
	color: #333;
}
.hobbies-link:hover{
	color: #004c8c;
}
#hobbies-list{
	opacity: 0.85;
	color: #333;
}
/* End of Main Page */

/* Global Section*/
.navbar{
	background-color: #102027;
	border-color: #102027;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover{
	color: #58a5f0;
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle:hover, 
.navbar-default .navbar-nav .dropdown .dropdown-toggle[aria-expanded="true"]{
	background-color: black;
	color: #58a5f0;
}

.navbar-default .navbar-nav .dropdown-toggle:visited,
.navbar-default .navbar-nav > li > a{
	color: white;
	opacity: 0.9;
}

.navbar-default .navbar-nav .open > a:focus{
	background-color: #004c8c;
	color: #FAFAFA;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover{
	color: #0277bd;
}
footer{
	padding-top: 12px;
	padding-bottom: 5px;
	background-color: #424242;
}
footer a, footer span{
	color: #fafafa;
	opacity: 0.85;
}
footer a:hover{
	color: #0277bd;
}
#footer-copyright{
	padding-top: 5px;
}
#footer-button{
	padding-bottom: 10px;
}
body{
	margin: 0px;
}
a{
	text-decoration: none;
}
.title, .footer-section, .center-div{
	text-align: center;
}
.new-container{
	padding-top: 45px;
	padding-bottom: 45px;
}
.intro-image{
	width: 100%;
}
.black-transparent-cover{
	background-color: black;
	opacity: 0.5;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
}
.black-cover-row, .relative-div{
	position: relative;
}
.cover-heading-index{
	z-index: 3;
}
.cover-heading{
	color: white;
}
.eighty-image, .eighty-div{
	width: 80%;
}
.outer-cover-div{
	padding-left: 0px;
	padding-right: 0px;
}
.twenty-font-size{
	font-size: 23px;
	opacity: 0.9;
}
.cover-div{
	padding-left: 0px;
	padding-right: 0px;
}
.fifteen-font-size{
	font-size: 19px;
	opacity: 0.9;
}
.ten-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}
.underline{
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.inside-div{
	width: 80%;
	margin: 0 auto;
}
.twenty-font-size-full{
	font-size: 23px;
}
.center-stuff{
	text-align: center;
}
.negative-fifteen-margin{
	margin-top: -17px;
	margin-bottom: -8px;
}
.thirty-padding{
	padding-top: 30px;
	padding-bottom: 30px;
}
.onehundred-width{
	width: 100%;
}