header{
	height: 50px;
}
#home{
	background-color: #64FFDA;
}
#home-image{
	width: 100%;
}
div.home-half{
	height: 100px;
	width: 100%;
	background-color: #90A4AE;
}
#about{
	background-color: red;
}
#resume{
	background-color: pink;
}
#skills{
	background-color: yellow;	
}
#projects{
	background-color: orange;
}
#hobbies{
	background-color: purple;
}
div{
	margin: 0px;
}
footer{
	height: 50px;
	background-color: gray;
}